.findEventsPage__info {
  padding: 20px;
}

.findEventsPage__info > p {
  margin-bottom: 10px;
  font-size: 14px;
}

.findEventsPage__info > h1 {
  margin-bottom: 10px;
}

.searchBar > input {
  max-width: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.findEventsPage__info > button {
  border-radius: 30px;
  border: 1px solid lightgray;
  text-transform: inherit;
  margin: 5px;
  color: black;
}

.findEventsPage__info > button:hover {
  border-radius: 30px;
  border: 1px solid lightgray;
  text-transform: inherit;
  margin: 5px;
  color: black;
}