.banner {
  background: url("../../images/home.png") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.banner__info {
  background-color: white;
  color:black;
  padding-top: 10vh;
  padding-left: 25vh;
  padding-right: 50px;
  padding-bottom: 40px;
  width: 43vw;
}

.banner__info > h1 {
  font-family: 'Comfortaa', cursive;
  margin-left: 50px;
  font-weight: 700;
  font-size: 50px;
  background: -webkit-linear-gradient(rgb(29, 207, 189), rgb(21, 98, 140));
  /* background: -webkit-linear-gradient(rgb(21, 98, 140), rgb(29, 207, 189));  */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner__info > h5 {
  text-align: left;
  color: rgb(0, 0, 0);
  margin-left:50px;
  font-weight: 600;
  font-size: 25px;
}

.banner__info > button {
  background-color: rgb(33, 150, 168);
  color: white;
  text-transform: inherit;
  margin-top: 20px;
  margin-left: 7vh;
  font-weight: 600;
  width: 250px;
  height: 75px;
  font-size: 30px;
}

.banner__info > button:hover {
  background-color: white;
  color: rgb(33, 150, 168);
}

.banner__info > h5 {
  margin-top: 10px;
}